.highlighted {
  background-color: #b3b3b3;
  color: #660066;
}
.container {
	float: left; 
	border: 1px solid black;
    overflow: auto
}


table#shell_table{
	width:100%;
	height: 50px;
	border: 1px solid black;

}

table#url_table {
    border: 1px solid black;
    width: 90%;
    overflow: auto
}
#url_table tr {
    border-top: 1px solid #fff;
}
#url_table tr:hover {
    background-color: #ccc;
}
#url_table th {
    background-color: #fff;
}
#url_table th, #url_table td {
    padding: 3px 5px;
}
#url_table td:hover {
    cursor: pointer;
}

table#article_table {
	align: right;
	width: 97%;
    border: 1px solid black;
    overflow: auto
}

.ff {
  background-color: #f44;
}
#url_table tr:focus {
	background: #f44;
}

div.controlbuttons {
	line-height: 20px;
	width: 50px;
	font-size: 8pt;
	font-family: tahoma;
	margin-top: 100px;
	margin-right: 20px;
	position: fixed;
	top:0;
	right:20px;
}
